VITE_FIREBASE_API_KEY=AIzaSyAAICt6bRyBQtSSMCy4QkyZ0Yv-0lqmRVc
VITE_FIREBASE_AUTH_DOMAIN=candle-wick-game.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://candle-wick-game-default-rtdb.europe-west1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=candle-wick-game
VITE_FIREBASE_STORAGE_BUCKET=candle-wick-game.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=865479721162
VITE_FIREBASE_APP_ID=1:865479721162:web:4cf80e14eed6df4440b433
VITE_FIREBASE_MEASUREMENT_ID=G-PDKBXE4D27