@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  /* iOS Scroll Lock */
  inset: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  color: #ffffff;
  /* Prevent scrolling */
  user-select: none;
  /* Prevent text selection */
  -webkit-user-select: none;
  /* Safari */
  -webkit-touch-callout: none;
  /* Prevent browser gestures */
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}