@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  color: #ffffff;
  overflow: hidden;
  /* Prevent scrolling */
  user-select: none;
  /* Prevent text selection */
  -webkit-user-select: none;
  /* Safari */
  -webkit-touch-callout: none;
  /* iOS Safari touch */
  touch-action: none;
  /* Prevent browser gestures */
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}