@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc;
  overflow: hidden; /* Prevent scrolling */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none;
  touch-action: none; /* Prevent browser gestures */
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
